<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      class="form-control" 
      placeholder="http://"
      value="{{ student.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Full Name</div>
  <div>
    <input 
      type="text" 
      name="name" 
      class="form-control" 
      placeholder="John Doe"
      value="{{ student.name }}"
    >
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input 
      type="email" 
      name="email" 
      class="form-control" 
      placeholder="example@school.com"
      value="{{ student.email }}"
    >
  </div>
</div>

<div class="item">
  <div>Age</div>
  <div>
    <input 
      type="date" 
      name="birth" 
      class="form-control"
      value="{{ student.birth }}"
    >
  </div>
</div>

<div class="item">
  <div>School Year</div>
  <div>
    <select name="year" class="form-control">
      <option value="5" {% if student.year == "5" %} selected {% endif %}>5th of Elementary School</option>
      <option value="6" {% if student.year == "6" %} selected {% endif %}>6th of Elementary School</option>
      <option value="7" {% if student.year == "7" %} selected {% endif %}>7th of Elementary School</option>
      <option value="8" {% if student.year == "8" %} selected {% endif %}>8th of Elementary School</option>
      <option value="1" {% if student.year == "1" %} selected {% endif %}>1th of High School</option>
      <option value="2" {% if student.year == "2" %} selected {% endif %}>2th of High School</option>
      <option value="3" {% if student.year == "3" %} selected {% endif %}>3th of High School</option>
    </select>
  </div>
</div>

<div class="item">
  <div>School Hours</div>
  <div>
    <input
      type="number"
      name="hours"
      class="form-control"
      value="{{ student.hours }}"
    >
  </div>
</div>

<button type="submit">Send</button>