{% extends "layout.njk" %}

{% block head %}<title>Receitas | Foodfy</title>{% endblock %}

{% block content %}

  <section class="recipes">
    <div class="cards">
      {% for recipe in recipes %}
      <a href="recipe/{{ loop.index -1 }}">
        <div class="recipe">
          <div class="img">
            <img src="{{ recipe.image }}">
          </div>

          <div class="title">
            <p>{{ recipe.title }}</p>
          </div>

          <div class="author">
            <p>por {{ recipe.author }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </section>

  <section class="recipes">
    <div class="cards">
      {% for recipe in recipes %}
      <a href="recipe/{{ loop.index -1 }}">
        <div class="recipe">
          <div class="img">
            <img src="{{ recipe.image }}">
          </div>

          <div class="title">
            <p>{{ recipe.title }}</p>
          </div>

          <div class="author">
            <p>por {{ recipe.author }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </section>

{% endblock %}