<!DOCTYPE html>
<html>

  <head>

    {% block head %}
    
      <title>João Debussy</title>

    {% endblock %}

    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/classes">Material de apoio</a>
      </div>
    </header>

    {% block content %}{% endblock %}

  </body>
</html>