<footer class="footer">
  <div>
    <p>
      Rocketseat © 2020. <br> 
      Todos os direitos reservados
    </p>
  </div>
  
  <div>
    <a href="https://github.com/rocketseat">Github</a>
    <a href="https://instagram.com/rocketseat_oficial">Instagram</a>
    <a href="https://facebook.com/rocketseat">Facebook</a>
  </div>

  <div>
    <p>
      Residencial Acalanto - R. Guilherme Gemballa, 260 <br> 
      Sala 3 - Jardim América, Rio do Sul - SC, 89160-188</p>
  </div>
</footer>