.messages {
    color: #fff;
    width: 100%;
    padding: 16px;
    opacity: 1;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
    background-color: var(--red);
}

.messages.success {
    background-color: var(--green);
}

@keyframes hidemessage {
    to {
        top: -50px;
        opacity: 0;
    }
}