<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launchstore</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/messages.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/products.css">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    {% include "parts/messages.njk" %}
    
    {% include "parts/header.njk" %}
    
    {% block content %}{% endblock %}
    
    {% include "parts/footer.njk" %}
  </body>
</html>