{% extends "layout.njk" %}

{% block head %}

  <title>Rocketseat</title>

{% endblock %}

{% block content %}

    <main>
      <section id="welcome">
        <div class="welcome-info">
          <h1>Fala, deev!</h1>
          <p>Seja bem-vindo à pagina inicial da Rocketseat.</p>
        </div>
      </section>
    </main>

{% endblock %}