    <!-- Global CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/messages.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/cart.css">

    <!-- Single CSS -->
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/orders.css">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">